.beers_grid {
  display: grid;
  grid-template-columns: repeat(3, 2fr);
  text-align: center;
}
.beer_item img {
  max-width: 10rem;
  max-height: 10rem;
}

.beer_item h3 {
  color: #044599;
}

.pagination_btn {
  height: 40px;
  list-style: none;
  display: flex;
  justify-content: center;
  color: #044599;
}
.pagination_btn a {
  padding: 10px;
  margin: 8px;
  border-radius: 5px;
  border: 1px solid #044599;
  color: #044599;
  cursor: pointer;
}
.pagination_btn a:hover {
  color: white;
  background-color: #044599;
}

.pagination_active a {
  color: white;
  background-color: #044599;
}

.purge_button {
  display: block;
  background-color: #044599;
  color: white;
  border-radius: 5px;
  padding: 0.5rem 3rem;
  margin: 15px auto 0;

  font-weight: 600;
  border: 0px;
  font-family: sans-serif;
}
